.cars_filter_form div {
    margin-bottom: 30px;
}

.cars_filter_form p {
    font-size: x-large;
    font-weight: 400;
    margin: 10px 0;
}

.cars_filter_form label {
    display: block;
    font-size: large;
    margin: 10px 0;
    padding: 0 10px 0 20px;
}

.cars_filter_form select {
    display: block;
    width: 100%;
    font-size: large;
    margin: 10px 0;
    padding: 0 10px 0 20px;
}

.cars_filter_form label span {
    margin-left: 10px;
}

.cars_filter_input {
    font-size: 40px;
    margin: 10px;
}

.car_card {
    margin: auto;
}