.cars_filter_form div {
  margin-bottom: 30px;
}

.cars_filter_form p {
  font-size: x-large;
  font-weight: 400;
  margin: 10px 0;
}

.cars_filter_form label {
  display: block;
  font-size: large;
  margin: 10px 0;
  padding: 0 10px 0 20px;
}

.cars_filter_form select {
  display: block;
  width: 100%;
  font-size: large;
  margin: 10px 0;
  padding: 0 10px 0 20px;
}

.cars_filter_form label span {
  margin-left: 10px;
}

.cars_filter_input {
  font-size: 40px;
  margin: 10px;
}

.car_card div:nth-child(1) img {
  width: 100%;
  height: 200px;
}

/* Styles for single car info page */
.form_car_info {
  padding: 35px;
  border: white 1px solid;
  margin: 0 100px;
  font-size: large;
}

.form_car_info input {
  background-color: #69696b;
  margin-bottom: 20px;
  padding: 20px;
  border: white 1px solid;
}

.form_car_info button {
  background-color: #fc473e;
  padding: 20px;
  font-weight: 700;
  color: white;
}
